
/* Body-------------------------------- */
body {
  background-color: #FAEBD7;
  height: 900px;
}

/* Title div-------------------------------- */
#title{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 60px;
}

/* Navigation Bar-------------------------------- */
a:link,a:visited {
  color:#595959;
  text-decoration: none;
}

a:hover {
  color:#000000;
}

#nav_bar {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #595959
}

#nav_bar_elem {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;

}

#nav_bar_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page_title{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 40px;
}


/* DIV -------------------------------- */
  .main_div{
    margin:  0 auto;
    width: 600px;
  }

  table, th, td, tr{
    border: 1px solid black;
    background-color: #FFFAF0;
    text-align: center;
    margin: auto;
  }

  td, th{
    width: 100px;
  }

  #submit_button{
    width: 100%;
}

