
<html>
 <head>
  <meta charset="UTF-8">
  <title>Departments</title>
  <Link rel="stylesheet" href="static/css/departments_style.css" type="text/css">
 </head>
 <body>

    <!-------- Nav bar -------->
    <div id="nav_bar">
      <ul id="nav_bar_list">
        <li id="nav_bar_elem"><a href={{department_data[0][0]}}>Reports</a></li>
        <li id="nav_bar_elem"><a href={{department_data[0][1]}}>Customers</a></li>
        <li id="nav_bar_elem"><a href={{department_data[0][2]}}>Orders</a></li>
        <li id="nav_bar_elem"><a href={{department_data[0][3]}}>Products</a></li>
        <li id="nav_bar_elem"><a href={{department_data[0][4]}}>Departments</a></li>
        <li id="nav_bar_elem"><a href={{department_data[0][5]}}>Seasons</a></li>
      </ul>
    </div>

    <!-------- Title -------->
    <div id="page_title">
      <h2>Departments</h2>
    </div>

    <div>
      <table>

        <!-- Table Header -->
        <tr>
          <th>DepartmentID</th>
          <th>Department Name</th>
        </tr>


        <!-- Sample Data -->
        {% for row in department_data[1] %}
        <tr class="department_row" id={{row['departmentID']}}>
          <td>{{row['departmentID']}}</td>
          <td>{{row['name']}}</td>
        </tr>
        {% endfor %}

        <!-- Input Box -->
        <tr id="input_row">
          <td></td>
          <td><input id="input_department" type="text" placeholder="Department Name"></input></td>
          <td><button id="submit_button">Submit</button> </td>
        </tr>
      </table>
    </div>

    <script src="static/js/departments_script.js"></script>
 </body>
</html>