
<html>
 <head>
  <meta charset="UTF-8">
  <title>Reports</title>
  <Link rel="stylesheet" href="static/css/reports_style.css" type="text/css">
 </head>
 <body>


    <!-- Nav bar -->
    <div id="nav_bar">
        <ul id="nav_bar_list">
            <li id="nav_bar_elem"><a href="homepage.html">Reports</a></li>
          <li id="nav_bar_elem"><a href="customers.html">Customers</a></li>
          <li id="nav_bar_elem"><a href="orders.html">Orders</a></li>
          <li id="nav_bar_elem"><a href="products.html">Products</a></li>
          <li id="nav_bar_elem"><a href="departments.html">Departments</a></li>
          <li id="nav_bar_elem"><a href="seasons.html">Seasons</a></li>
        </ul>
    </div>


    <!--Page title-->
    <div id="title">
        <h2>Cart-ashian's Produce</h2>
    </div>


    <!--Container div-->
    <div class="container_div">
        <div class="table_div">

            <!--Table (OrderProduct) for running log of purchases (Left div) -->
            <span class="table_title">Sell log</span>

            <table id = "order_table">
                <tr>
                    <th>productID</th>
                    <th>orderID</th>
                    <th>seasonID</th>
                    <th>quantitySold</th>
                    <th>productTotal</th>
                </tr>
                <tr>
                    <td>sampleProductID_1</td>
                    <td>sampleOrderID_1</td>
                    <td>sampleSeasonID_1</td>
                    <td>sampleQuantity_1</td>
                    <td>sampleTotal_1</td>
                </tr>
                <tr>
                    <td>sampleProductID_2</td>
                    <td>sampleOrderID_2</td>
                    <td>sampleSeasonID_2</td>
                    <td>sampleQuantity_2</td>
                    <td>sampleTotal_2</td>
                </tr>
                <tr>
                    <td>sampleProductID_3</td>
                    <td>sampleOrderID_3</td>
                    <td>sampleSeasonID_3</td>
                    <td>sampleQuantity_3</td>
                    <td>sampleTotal_3</td>
                </tr>
                <tr>
                    <td>sampleProductID_4</td>
                    <td>sampleOrderID_4</td>
                    <td>sampleSeasonID_4</td>
                    <td>sampleQuantity_4</td>
                    <td>sampleTotal_4</td>
                </tr>
                <tr>
                    <td>sampleProductID_5</td>
                    <td>sampleOrderID_5</td>
                    <td>sampleSeasonID_5</td>
                    <td>sampleQuantity_5</td>
                    <td>sampleTotal_5</td>
                </tr>

                <tr>
                    <td>sampleProductID_6</td>
                    <td>sampleOrderID_6</td>
                    <td>sampleSeasonID_6</td>
                    <td>sampleQuantity_6</td>
                    <td>sampleTotal_6</td>
                </tr>
                <tr>
                    <td>sampleProductID_7</td>
                    <td>sampleOrderID_7</td>
                    <td>sampleSeasonID_7</td>
                    <td>sampleQuantity_7</td>
                    <td>sampleTotal_7</td>
                </tr>
                <tr>
                    <td>sampleProductID_8</td>
                    <td>sampleOrderID_8</td>
                    <td>sampleSeasonID_8</td>
                    <td>sampleQuantity_8</td>
                    <td>sampleTotal_8</td>
                </tr>
                <tr>
                    <td>sampleProductID_9</td>
                    <td>sampleOrderID_9</td>
                    <td>sampleSeasonID_9</td>
                    <td>sampleQuantity_9</td>
                    <td>sampleTotal_9</td>
                </tr>
                <tr>
                    <td>sampleProductID_10</td>
                    <td>sampleOrderID_10</td>
                    <td>sampleSeasonID_10</td>
                    <td>sampleQuantity_10</td>
                    <td>sampleTotal_10</td>
                </tr>
                <tr>
                    <td>sampleProductID_11</td>
                    <td>sampleOrderID_11</td>
                    <td>sampleSeasonID_11</td>
                    <td>sampleQuantity_11</td>
                    <td>sampleTotal_11</td>
                </tr>
                <tr>
                    <td>sampleProductID_12</td>
                    <td>sampleOrderID_12</td>
                    <td>sampleSeasonID_12</td>
                    <td>sampleQuantity_12</td>
                    <td>sampleTotal_12</td>
                </tr>
                <tr>
                    <td>sampleProductID_13</td>
                    <td>sampleOrderID_13</td>
                    <td>sampleSeasonID_13</td>
                    <td>sampleQuantity_13</td>
                    <td>sampleTotal_13</td>
                </tr>
                <tr>
                    <td>sampleProductID_14</td>
                    <td>sampleOrderID_14</td>
                    <td>sampleSeasonID_14</td>
                    <td>sampleQuantity_14</td>
                    <td>sampleTotal_14</td>
                </tr>
                <tr>
                    <td>sampleProductID_15</td>
                    <td>sampleOrderID_15</td>
                    <td>sampleSeasonID_15</td>
                    <td>sampleQuantity_15</td>
                    <td>sampleTotal_15</td>
                </tr>
                <tr>
                    <td>sampleProductID_16</td>
                    <td>sampleOrderID_16</td>
                    <td>sampleSeasonID_16</td>
                    <td>sampleQuantity_16</td>
                    <td>sampleTotal_16</td>
                </tr>
                <tr>
                    <td>sampleProductID_17</td>
                    <td>sampleOrderID_17</td>
                    <td>sampleSeasonID_17</td>
                    <td>sampleQuantity_17</td>
                    <td>sampleTotal_17</td>
                </tr>
                <tr>
                    <td>sampleProductID_18</td>
                    <td>sampleOrderID_18</td>
                    <td>sampleSeasonID_18</td>
                    <td>sampleQuantity_18</td>
                    <td>sampleTotal_18</td>
                </tr>
                <tr>
                    <td>sampleProductID_19</td>
                    <td>sampleOrderID_19</td>
                    <td>sampleSeasonID_19</td>
                    <td>sampleQuantity_19</td>
                    <td>sampleTotal_19</td>
                </tr>
                <tr>
                    <td>sampleProductID_20</td>
                    <td>sampleOrderID_20</td>
                    <td>sampleSeasonID_20</td>
                    <td>sampleQuantity_20</td>
                    <td>sampleTotal_20</td>
                </tr>


            </table>
        </div>



        <!--For data display (Right div) -->
        <div class="dataDisplay_div">
            <span class="table_title">Data Report</span>

            <!--Row 1: Current season (Summer 2021) --->
            <div class="mini_div_container_row2">
                <p class="sub_title"><i>Current season (Summer 2021)</i></p>
                <table>
                    <tr>
                        <td>Produce</td>
                        <td>Quantity</td>
                        <td>% of Total</td>
                        <td>Total revenue</td>
                    </tr>
                    <tr>
                        <th>Apples</td>
                        <td>200</td>
                        <td>20%</td>
                        <td>$598</td>
                    </tr>
                    <tr>
                        <th>Bananas</th>
                        <td>150</td>
                        <td>15%</td>
                        <td>$898.5</td>

                    </tr>
                    <tr>
                        <th>Cucumbers</th>
                        <td>150</td>
                        <td>15%</td>
                        <td>$598.5</td>

                    </tr>
                    <tr>
                        <th>Oranges</th>
                        <td>300</td>
                        <td>30%</td>
                        <td>$597</td>
                    </tr>
                    <tr>
                        <th id="top_seller">Tulip</th>
                        <td>200</td>
                        <td>200%</td>
                        <td>$1,598</td>
                    </tr>
                </table>
            </div>

            <!--Row 2: Current year top sellers (2021)-->
            <div class="mini_div_row1_left">
                <p class="sub_title"><i>Current year top sellers (2021)</i></p>
                <table>
                    <tr>
                        <td></td>
                        <td>Produce</td>
                        <td>Quantity</td>
                        <td>% of Total</td>
                    </tr>
                    <tr>
                        <th>Winter</td>
                        <td>Apples</td>
                        <td>400</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th>Spring</th>
                        <td>Tulip</td>
                        <td>150</td>
                        <td>---</td>

                    </tr>
                    <tr>
                        <th>Summer</th>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>

                    </tr>
                    <tr>
                        <th>Fall</th>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </table>
            </div>

            <!--Row 3: Previous year top sellers (2020)-->
            <div class="mini_div_row1_right">
                <p class="sub_title"><i>Previous year top sellers (2020)</i></p>
                <table>
                    <tr>
                        <td></td>
                        <td>Produce</td>
                        <td>Quantity</td>
                        <td>% of Total</td>
                    </tr>
                    <tr>
                        <th>Winter</td>
                        <td>Apples</td>
                        <td>400</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <th>Spring</th>
                        <td>Tulip</td>
                        <td>150</td>
                        <td>15%</td>

                    </tr>
                    <tr>
                        <th>Summer</th>
                        <td>Oranges</td>
                        <td>300</td>
                        <td>30%</td>

                    </tr>
                    <tr>
                        <th>Fall</th>
                        <td>Cabbage</td>
                        <td>150</td>
                        <td>15%</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>





 </body>
</html>