
<html>
 <head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <Link rel="stylesheet" href="static/css/orders_style.css" type="text/css">
 </head>
 <body>

    <!-------- Nav bar -------->
    <div id="nav_bar">
      <ul id="nav_bar_list">
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/">Reports</a></li>
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/customers">Customers</a></li>
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/orders">Orders</a></li>
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/products">Products</a></li>
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/departments">Departments</a></li>
        <li id="nav_bar_elem"><a href="http://flip3.engr.oregonstate.edu:1027/seasons">Seasons</a></li>
      </ul>
    </div>

    <!-------- Title -------->
    <div id="title">
        <h2>Orders</h2>
    </div>

    <div class="order_table">
      <table>

        <!-- Table Header -->
        <tr>
          <th>orderID</th>
          <th>customerID</th>
          <th>seasonID</th>
          <th>totalCost</th>
        </tr>

        <!-- Sample Data -->
        {% for row in order_data[0] %}
        <tr>
          <td>{{row['orderID']}}</td>
          <td>{{row['customerID']}}</td>
          <td>{{row['seasonID']}}</td>
          <td>{{row['totalCost']}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>

    <div class="demo_div">

        <!--Sub page title-->
        <h2>Demo UI - Make an order</h2>

        <!---------- Form ---------->
        <form action="....">
          <!--Specify customer-->
          <label for="customer">Select Customer:</label>
          <select name="customer" id="customer">
            {% for row in order_data[1] %}
                <option value="">{{row}}</option>
            {% endfor %}

          </select>
          <br><br>

          <!--Add items to cart-->
        <table class="product_table">
            Select produce
            <tr>
                <th>Name</td>
                <th>Price ($)</td>
                <th>Unit</td>
                <th>Quantity</td>
            </tr>

            {% for row in order_data[2] %}
            <tr>
                <td>{{row['productName']}}</td>
                <td>{{row['salePrice']}}</td>
                <td>{{row['unitType']}}</td>
                <td><input class = "a_product" id={{row['productID']}} value="0"></input></td>
            </tr>
            {% endfor %}

        </table>


          <br><br>
          <input id="place_order_button" type="submit" value="Place Order">
        </form>

    </div>


 </body>
</html>