
<html>
 <head>
  <meta charset="UTF-8">
  <title>Seasons</title>
  <Link rel="stylesheet" href="static/css/seasons_style.css" type="text/css">
 </head>
 <body>

    <!-------- Nav bar -------->
    <div id="nav_bar">
      <ul id="nav_bar_list">
        <li id="nav_bar_elem"><a href={{season_data[0][0]}}>Reports</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][1]}}>Customers</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][2]}}>Orders</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][3]}}>Products</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][4]}}>Departments</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][5]}}>Seasons</a></li>
      </ul>
    </div>

    <!-------- Title -------->
    <div>
      <h2>Seasons</h2>
    </div>

    <!-------- Table -------->
    <div class="main_div">
      <table>

        <!-- Table Header -->
        <tr>
          <th>seasonID</th>
          <th>seasonName</th>
          <th>startDate</th>
          <th>endDate</th>
        </tr>

        <!-- Sample Data -->
        {% for row in season_data[1] %}
        <tr class="season_row" id={{row['seasonID']}}>
          <td>{{row['seasonID']}}</td>
          <td>{{row['seasonName']}}</td>
          <td>{{row['startDate']}}</td>
          <td>{{row['endDate']}}</td>
        </tr>
        {% endfor %}

        <!-- Input Box-->
        <tr id="input_row">
            <td><button id="submit_button">Add Season</button> </td>
            <td><input id="sName" type="text" placeholder="Season Name"></input></td>
            <td> <input id="sDate" type="text" placeholder="Start Date (i.e. YYYY-MM-DD)"></input></td>
            <td> <input id="eDate" type="text" placeholder="End Date (i.e. YYYY-MM-DD)"></input></td>
        </tr>

      </table>
    </div>


    <script src="static/js/seasons_script.js"></script>
 </body>
</html>