
<html>
 <head>
  <meta charset="UTF-8">
  <title>Customers</title>
  <Link rel="stylesheet" href="static/css/seasons_style.css" type="text/css">
 </head>
 <body>

    <!--Nav bar-->
    <div id="nav_bar">
      <ul id="nav_bar_list">
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/">Reports</a></li>
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/customers">Customers</a></li>
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/orders">Orders</a></li>
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/products">Products</a></li>
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/departments">Departments</a></li>
        <li id="nav_bar_elem"><a href="http://flip1.engr.oregonstate.edu:1027/seasons">Seasons</a></li>
      </ul>
    </div>


    <div id="page_title"><h2>Seasons</h2></div>

    <div>
      <table>

        <!-- Table Header -->
        <tr>
          <th>SeasonID</th>
          <th>Season Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>

        <!-- Sample Data -->
        {% for row in season_data[0] %}
        <tr>
          <td>{{row['seasonID']}}</td>
          <td>{{row['seasonName']}}</td>
          <td>{{row['startDate']}}</td>
          <td>{{row['endDate']}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>


 </body>
</html>