
<html>
 <head>
  <meta charset="UTF-8">
  <title>Seasons</title>
  <Link rel="stylesheet" href="static/css/seasons_style.css" type="text/css">
 </head>
 <body>

    <!-------- Nav bar -------->
    <div id="nav_bar">
      <ul id="nav_bar_list">
        <li id="nav_bar_elem"><a href={{season_data[0][0]}}>Reports</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][1]}}>Customers</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][2]}}>Orders</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][3]}}>Products</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][4]}}>Departments</a></li>
        <li id="nav_bar_elem"><a href={{season_data[0][5]}}>Seasons</a></li>
      </ul>
    </div>

    <!-------- Title -------->
    <div id="title">
      <h2>Seasons</h2>
    </div>

    <!-------- Table -------->
    <div>
      <table>

        <!-- Table Header -->
        <tr>
          <th>seasonID</th>
          <th>seasonName</th>
          <th>startDate</th>
          <th>endDate</th>
        </tr>

        <!-- Sample Data -->
        {% for row in season_data[1] %}
        <tr>
          <td>{{row['seasonID']}}</td>
          <td>{{row['seasonName']}}</td>
          <td>{{row['startDate']}}</td>
          <td>{{row['endDate']}}</td>
        </tr>
        {% endfor %}


      </table>
    </div>




 </body>
</html>